<div class="list-container">
  <div class="flex gap-2 align-items-center mt-3 flex-wrap">
    <p-floatLabel>
      <input id="new_todo" type="text" pInputText [(ngModel)]="value" />
      <label for="new_todo">New todo</label>
    </p-floatLabel>
    <p-dropdown
          [options]="priority"
          [(ngModel)]="selectedPriority"
          optionLabel="name"
          placeholder="Urgency"
        />
    <button class="btn btn-primary" (click)="addTodo(value)">Add</button>
  </div>

  <div class="parent-container">
    <div class="card">
      @if(todos){
      <div class="list">
        @for (item of todos; track $index) {
        <div class="list-item" [class]="item.urgency">
          <div [textContent]="item.name"></div>
          <button class="btn btn-primary ml-auto" (click)="markAsDone($index)">
            Done
          </button>
        </div>
        }
      </div>
      }@else {
        <div class="empty-state">
            Nothing pending
        </div>
      }
    </div>
  </div>

  <!-- <div class="todo-container">
    <h1>Family Management To-Do List</h1>
    <div class="input-section">
      <input class="todo-input" placeholder="New todo">
      <button class="add-btn">Add</button>
    </div>
    <div class="todo-list">
      <div class="todo-item urgent">
        <span>Test (Urgent)</span>
        <button class="done-btn">Done</button>
      </div>
    </div>
  </div> -->
</div>
