<div class="list-container">
  <button class="btn btn-primary" (click)="addTodoList()">Add List</button>

  @if((todos | json) != '{}'){
  <div class="parent-container">
    @for (item of todos | keyvalue; track $index) {
    <div class="card">
      <div class="card-title">{{ item.key }}</div>
      <div class="flex gap-1 align-items-center mt-3">
        <p-floatLabel>
          <input id="email" type="text" pInputText [(ngModel)]="value" />
          <label for="email">New todo</label>
        </p-floatLabel>
        <button class="btn btn-primary" (click)="addTodo(item.value, value)">
          Add
        </button>
      </div>
      <div class="list">
        @for (subitem of item.value | keyvalue; track $index) {
        <div class="list-item" >
            <div [textContent]="getName(subitem.value)"></div>
            <button class="btn btn-primary ml-auto">Done</button>
        </div>
        }
      </div>
    </div>
    }
  </div>
  }
</div>
