<div class="flex justify-content-center align-items-center h-screen">
  <div class="card auth-cards">
    <div class="card-header">Login</div>
    <form
      class="flex-column justify-content-center align-items-center gap-5 flex"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="flex flex-column gap-1">
        <p-floatLabel>
          <input
            id="email"
            type="email"
            required
            pInputText
            formControlName="email"
          />
          <label for="email">Email</label>
        </p-floatLabel>
        @if (loginFormControl.email.errors && (loginFormControl.email.dirty ||
        loginFormControl.email.touched)) {
        <div class="error">Email is required.</div>
        }
      </div>
      <div class="flex flex-column gap-1">
        <p-floatLabel>
          <input
            id="password"
            type="{{passwordVisible ? 'text' : 'password'}}"
            pInputText
            formControlName="password"
            required
          />
          <label for="password">Password</label>
          <i class="pi pi-eye eye" [ngClass]="{'pi-eye-slash': passwordVisible, 'pi-eye': !passwordVisible}" (click)="passwordVisible = !passwordVisible" style="font-size: 1rem"></i>
        </p-floatLabel>
        @if ((loginFormControl.password.errors &&
        (loginFormControl.password.dirty || loginFormControl.password.touched))
        || passwordError.state) { @if (passwordError.state){
        <div class="error" [textContent]="passwordError.msg"></div>
        }@else{
        <div class="error">Password is required.</div>
        } }
      </div>
      <p-button [disabled]="loginForm.invalid" type="Submit" label="Submit" />
    </form>

    <div class="flex sm:d-none align-items-center justify-content-center mt-3">
      <!-- <img src="img/google.png" (click)="loginWithGoogle()" class="google" alt="google login"> -->
       <a [routerLink]="'/signup'">Signup</a>
    </div>
  </div>
</div>
