/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: #000;
    padding: 0rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem !important;
    border-radius: 10px;
}

.parent-container{
    height: calc(100vh - 33px);
    padding: 20px 15px;
}

.p-card{
    color: #000;

    .card-title{
        font-size: 16px;
        font-weight: 600;
    }

    .p-card-content{
        padding: 0px;
    }
}