<header></header>

<div class="parent-container">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center p-4 justify-content-between">
        <span class="card-title">Investment Summary</span>
        <p-dropdown
          [options]="years"
          [(ngModel)]="selectedYear"
          optionLabel="name"
          placeholder="Select a Year"
          (onChange)="yearChanged()"
        />
      </div>
    </ng-template>
    @if((investmentToshow | json) != '{}'){
        <p class="m-0">
            {{ investmentToshow | json }}
        </p>
    }@else {

        <p>Nothing to show</p>
    }
  </p-card>
</div>
