<div class="parent-container flex align-items-start gap-2">
  <div class="card" [routerLink]="'/todo'">
    <div class="flex align-items-center justify-content-between">
      <span class="card-title">Todo's </span>
    </div>
  </div>
  <div class="card" [routerLink]="'/monthly-expense'">
    <div class="flex align-items-center justify-content-between">
      <span class="card-title">Monthly Expenses</span>
    </div>
  </div>
  <div class="card"  [routerLink]="['/investments']">
    <div class="flex align-items-center justify-content-between">
      <span class="card-title">Investment tracker</span>
    </div>
  </div>
</div>
